<app-search-input
  class="max-w-md"
  (search)="onSearch($event)"
  placeholder="Search for variants"
></app-search-input>
<div class="flex border-b border-solid border-gray-300">
  <app-variants-list
    [selectedVariantId]="selectedVariantId$ | async"
    [loading]="loading$ | async"
    [data]="variants$ | async"
    (select)="onSelectVariant($event)"
    class="my-4 basis-[448px] max-w-md border-r border-solid border-gray-300"
  ></app-variants-list>
  <app-variant-details
    class="m-4 py-2 p-10 grow"
    [variant]="selectedVariant$ | async"
  ></app-variant-details>
</div>
