<mat-list class="h-[440px]">
  <mat-list-item class="text-center" *ngIf="loading && !data?.length">
    Loading list...
  </mat-list-item>
  <div *ngIf="!loading && (!data || data.length === 0)" class="text-center">
    Empty list
  </div>
  <!-- virtualization renders only a small portion of data in the DOM at any time, reduces rendering time and memory usage -->
  <cdk-virtual-scroll-viewport
    itemSize="50"
    minBufferPx="440"
    maxBufferPx="750"
    class="h-full"
  >
    <mat-list-item
      [ngClass]="{ '!bg-blue-500 !rounded': variant.id === selectedVariantId }"
      *cdkVirtualFor="
        let variant of data | appSearch : searchText ?? '' | async;
        trackBy: trackVariantBy;
        let first = first;
        let last = last
      "
      (click)="onSelectVariant(variant)"
      (appScrollIntoView)="last && onScrollLastIntoView($event)"
    >
      {{ variant.name }}
    </mat-list-item>
    <mat-list-item class="text-center" *ngIf="loading && data?.length">
      Loading more...
    </mat-list-item>
  </cdk-virtual-scroll-viewport>
</mat-list>
