<mat-list class="h-[440px]">
  <mat-list-item class="text-center" *ngIf="loading && isEmpty(data)">
    Loading list...
  </mat-list-item>
  <div *ngIf="!loading && isEmpty(data)" class="text-center">Empty list</div>
  <cdk-virtual-scroll-viewport
    itemSize="50"
    minBufferPx="440"
    maxBufferPx="750"
    class="h-full"
  >
    <mat-list-item
      [ngClass]="{ '!bg-blue-500 !rounded': variant.key === selectedVariantId }"
      *cdkVirtualFor="
        let variant of (data | keyvalue | fuzzy: searchText ?? '');
        templateCacheSize: 0;
        let first = first
      "
      (click)="onSelectVariant(variant.value)"
    >
      {{ variant?.value?.name }}
    </mat-list-item>
  </cdk-virtual-scroll-viewport>
</mat-list>
