<mat-list class="h-[440px]">
  <mat-list-item class="text-center" *ngIf="loading && !data?.length">
    Loading list...
  </mat-list-item>
  <div *ngIf="!loading && (!data || data.length === 0)" class="text-center">
    Empty list
  </div>
  <cdk-virtual-scroll-viewport
    itemSize="50"
    minBufferPx="440"
    maxBufferPx="750"
    class="h-full"
  >
    <mat-list-item
      [ngClass]="{ '!bg-blue-500 !rounded': variant.id === selectedVariantId }"
      *cdkVirtualFor="
        let variant of data;
        templateCacheSize: 0;
        trackBy: trackVariantBy;
        let first = first
      "
      (click)="onSelectVariant(variant)"
    >
      {{ variant.name }}
    </mat-list-item>
  </cdk-virtual-scroll-viewport>
</mat-list>
